div.hamburger-cont{
    position: fixed;
    top:20px;
    right:30px;
    z-index:1;
    height: auto;
    background-color:transparent;
    border-radius: 10px;
    transition: var(--transition);
    clip-path: circle(30px at calc(100% - 35px) 30px);
  }
  
  div.hamburger-cont div.hamburger{
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
    width:50px;
    height:50px; 
    background:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /*Center line*/
  .hamburger-cont .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    display: flex;
    transition: var(--transition);
  }
  
  /*Top and bottom line*/
  .hamburger-cont .hamburger > div:before,
  .hamburger-cont .hamburger > div:after{
    content:'';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  

  /*Moves bottom line down*/
  .hamburger-cont .hamburger > div:after{
    top: 10px;
  }

  .hamburger-cont .hamburger > div:before{
    top: -10px;
  }


/* Orientation */

@media(orientation:landscape){
  div.hamburger-cont{
    width: 40vw;
  }
}

@media(orientation:portrait){
  div.hamburger-cont{
    width: calc(100vw - 60px);
  }
}

/* Touch device (none) and Mouse device (fine) */

@media (pointer:coarse){
  
  div.hamburger-cont.menu-open{
    clip-path: circle(100%);
    background-color: black;
    transition: var(--transition);  
  }
  
  div.hamburger-cont > div.hamburger > div,
  div.hamburger-cont > div.hamburger > div:before, 
  div.hamburger-cont > div.hamburger > div:after{
    transition: var(--transition);
  }
    
  div.hamburger-cont.menu-open > .hamburger > div{
    transform: rotate(135deg);
    transition: var(--transition);
  }
    
  div.hamburger-cont.menu-open > .hamburger > div:before, 
  div.hamburger-cont.menu-open > .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
    transition: var(--transition)
  }

  div.hamburger-cont.menu-open + div.content{
    filter: blur(5px);
    transition: var(--transition);
  }
  
  div.hamburger-cont.menu-open + div.content div.parallax > div.text-box > h2,
  div.hamburger-cont.menu-open + div.content div.parallax > div.text-box > p > a{
    color:white;
  }
  
  
}

@media (pointer:fine){
  div.hamburger-cont:hover{
    clip-path: circle(100%);
    background-color: black;
    transition: var(--transition);
  }

  div.hamburger-cont:hover div.hamburger > div{
    background-color: transparent;
    transition: var(--transition);
  }

  div.hamburger-cont:hover + div.content{
    filter: blur(5px);
    transition: var(--transition);
  }
  
  div.hamburger-cont:hover + div.content div.parallax > div.text-box > h2,
  div.hamburger-cont:hover + div.content div.parallax > div.text-box > p > a{
    color:white;
  }
  

}

