
/* Screen specific */

@media (orientation:portrait){
    div.parallax{
        flex-direction: column;
        align-items: center;
    }

    div.parallax > div.text-box{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    div.parallax > div.image, div.parallax > div.text-box{
        width: 90%;
    }

    div.parallax > div.image{
        height: 55vh;
    }

    div.parallax > div.text-box{
        height: auto;
    }

    div.parallax div.text-box h2{
        font-size: 30px;
    }

    div.parallax div.text-box p{
        font-size: 15px;
    }
}

@media(orientation:landscape){
    div.parallax > div.image, div.parallax > div.text-box{
        height: 80%;
    }
    div.parallax > div.image{
        width: 40vw;
    }

    div.parallax > div.text-box{
        width: 40vw;
    }

    div.parallax{
        flex-direction:row;
        justify-content: space-evenly;
        height: 80vh;
        align-items: center;
    }

    div.parallax[image-side="right"]{
        flex-direction: row-reverse;
      }

      div.parallax div.text-box h2{
        font-size: 50px;
    }

    div.parallax div.text-box p{
        font-size: 20px;
    }

}


/* General */

div.parallax{
    display: flex;
    max-width: 100%;
    width: 100vw;
}


div.parallax > div.text-box{
    filter:none;
    transition: var(--transition);
}



/* Touch device (coarse,none) and Mouse device (fine) */

@media (pointer:fine){
    div.parallax > div.image:hover + div.text-box p, div.parallax > div.image:hover + div.text-box h2,
    div.parallax > div.image:hover + div.text-box a{
        color: white;
        transition: var(--transition);
    }

    div.parallax > div.image:hover + div.text-box{
        filter:blur(5px);
        transition: var(--transition);
        scale:0.95;
    }
}



