h2{
    font-weight: 50;
    font-size: 40px;
    color:var(--green-neon);
    transition: var(--transition);
}

div.text-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}